* {
  box-sizing: border-box;
  color: black;
}


body{
/*	background-color: WhiteSmoke;
*/	font-family: 'Open Sans', sans-serif;
/*	font-weight: 800;	
*/	/*color: black;*/
}

h1{
	padding:20px;
}

a{
	text-align: left;
}

iframe{
	/*width: 400px;*/
}

plot_div{
	display: inline-block;
	min-width: 0px;
	width:600px;
}

.btn-default{
	margin:20px;
}

.continue{
    position: relative;
    top:-150px;
    left: 1000px;
}

.container {
  display: inline-block;
  flex-direction: column ;
  justify-content: right;
  align-items: right;
  height:100px;
}

.text{
	width:450px;
	padding: 20px;
	left: 600px;
	position:relative;
	top: -400px;
	font-size: 1.2em;
}

